
h1{
    text-align: center;
    color:rgb(38, 83, 1)
}
body {
    background-color: rgb(241, 211, 154);
}
.table-one{
    width: 130px;
    height: 250px;
    background-color: rgb(209,44,44);
    margin-top: 140px;
    margin-left:80px;
    border-radius: 25px;
    text-align: left;
}
.table-two{
    width: 130px;
    height: 300px;
    background-color: rgb(154, 205, 50);
    margin-left: 550px;
    margin-top:-500px;
    border-radius: 25px;
    text-align: left;
}
h2{
    text-align: center;
    margin-top: -130px;
}
.table-three{
    width: 30px;
    height: 300px;
    background-color: rgb(154, 205, 50);
    margin-left: 1100px;
    margin-top:-600px;
    padding: 150px; 
    border-radius: 25px;
    text-align: left;
}
.title-three{
    color: white;    
}

/*/////////////////////////*/
.categorie{
    display: flex;
    flex-wrap:wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    height: auto;
}
.aliment_card{
    width: 40px;
    height: 55px;
    background-color: blueviolet;
}

.all-sections{
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 211, 154);
    width: 100%;
    height: auto;
}
.child-section{
    width: 20%;
    height: 300px;
}
.div1{
    background-color: rgb(154,205,50);
    border-radius: 25px;
    color: rgb(38, 83, 1);
    

}
.div2{
    border-radius: 25px;
    background-color: rgb(154,205,50);
    width:35%;
    height: 500px;
    color: rgb(38, 83, 1);
}
.div3{
    border-radius: 25px;
    background-color: crimson;
    height: 500px;
    color: white;
}
.form{
    padding: 20px;
    padding-right: 0;
}
label{
    text-align: right;
   
}
h3{
    text-align: center;
}
.img{
    width: auto;
    height: 25%;
}
.all-label{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
}
.child-label{
    width: 20%;
    height: 300px;
}
.calories-consumed{
    width: 90%;
    height: 10%;
    background-color: white;
    border-radius: 10%;
    color:rgb(38, 83, 1)
}
.calories-remained{
    width: 40%;
    height: 10%;
    background-color: rgb(154,205,50);
    border-radius: 10%;
    color:rgb(38, 83, 1)
}